<section>
  <h1>ALL ENTRIES</h1>
  <table>
    <thead>
      <th>TITLE</th>
      <th>URL</th>
      <th style="width: 20%;">CREATED AT</th>
      <th class="table-actions-column">ACTIONS</th>
    </thead>
    <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td>
          <%=entry.title%>
        </td>
        <td style="overflow-wrap: anywhere;">
          <%=entry.url%>
        </td>
        <td>
          <%=entry.created_at.strftime("%d %b %Y %H:%M") %>
        </td>
        <td>
          <div class="table-actions">
            <%= button_to '<i class="fa fa-external-link-square table-icon"></i>'.html_safe, entry.url, form: { target: "_blank"}, method: :get %>
            <%= button_to '<i class="fa fa-info-circle table-icon"></i>'.html_safe, entry, method: :get %>
            <%= button_to '<i class="fa fa-edit table-icon"></i>'.html_safe, edit_entry_path(entry), method: :get %>
            <%= button_to '<i class="fa fa-trash table-icon"></i>'.html_safe, entry, method: :delete %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
