<section>
  <h1>CREATE NEW ENTRY</h1>
  <%= form_with(model: @entry) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, placeholder: 'Entry title...' %>
    </div>
    <div>
      URL
      <%= form.text_field :url %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  <br>
  <div>
    <%= link_to "Back to home", root_path %>
  </div>
</section>