<section>
  <h1>
    RESOURCE: <%=@entry.title%>
  </h1>
  <table>
    <tbody>
      <tr>
        <td>
          <label class="form-label">RESOURCE URL</label>
        </td>
        <td>
          <%#= form.text_field :url, class:"form-text-input", placeholder: "Link to resource..." %>
          <%=@entry.url%>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">CREATED AT</label>
        </td>
        <td>
          <%=@entry.created_at.strftime("%U %b %Y %H:%M")%>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">NOTES</label>
        </td>
        <td style="white-space: break-spaces;"><%=@entry.notes%></td>
      </tr>
    </tbody>
  </table>
  <div class="form-submit-wrapper">
    <%= button_to '<i class="fa fa-edit"></i> EDIT'.html_safe, edit_entry_path(@entry), method: :get %>
  </div>
  <div class="form-submit-wrapper">
    <%= button_to '<i class="far fa-arrow-alt-circle-left"></i> GO BACK'.html_safe, root_path, method: :get %>
  </div>
</section>