<% @title="Sign Up" %>
<section>
  <h1>SIGN UP</h1>

  <%= form_for @user do |form| %>
    <table>
      <tbody>
      <tr>
        <td>
          <label class="form-label">USERNAME</label>
        </td>
        <td>
          <%= form.text_field :username, placeholder: "Username", class:"form-text-input", required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">PASSWORD</label>
        </td>
        <td>
          <%=
            form.password_field :password,
            placeholder: "Password",
            class:"form-text-input",
            required: true,
            pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/,
            title:
              "Passwords be at least 8 characters long.\nMust contain one uppercase character.\nMust contain one lowercase character.\nMust contain one special character ($, !, %, *, ?, &)."
          %>
        </td>
      </tr>
      </tbody>
    </table>
    <% if notice %>
      <div class="error"><%= notice %></div>
    <% end %>
    <div class="form-submit-wrapper">
      <%= form.submit "CREATE ACCOUNT" %>
    </div>
  <% end %>
</section>