<!DOCTYPE html>
<html lang=en>
<head>
  <title><%=@title%></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<script>
    $(document).on('ready page:load', function () {
        $('#entry_tag_ids').chosen({
            allow_single_deselect: true,
            width: '100%'
        })
    });
</script>

<body>
<%= render '/shared/navbar' %>
<%= yield %>
</body>
</html>